<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>

<body>
    <style>
        body{
          background: rgb(233, 179, 230);
          
        }
        .caixa1{
          margin-top: 10%;
        }
        #btn{
          margin-left: -85%;
        }
        .logo{
          margin-top: -11%;
          margin-left: 50px;
         
        }
        .titulo{
          color: rgb(0, 0, 0);
        }
        .h2{
          margin-top: 15%;
        }
      </style>
    
    
      <div class="caixa1">
        <img src="https://1.bp.blogspot.com/-uX5Z_0WXTOc/YSmTJMaKZZI/AAAAAAAAAC4/X6XeVweoWJY9yoJLfHt6ELmNEXdaOxbegCNcBGAsYHQ/w128-h128-p-k-no-nu/Logo%2Bsem%2Bfundo.png" alt="Logo" class="logo" >
    <div class="col-8 m-auto pt-2  pb-2 text-center">
        <h1>Cadastro de produtos</h1>
    </div>

    <div class="col-8 m-auto pt-3  pb-2 text-center">
        <a href="/" class="btn btn-info">Voltar</a>
    </div>
    <div class="col-8 m-auto pt-4  pb-2">
        <form name="form" id="form" action="{% if db %}/update/{{db.id}}/{%else%}/create/{% endif %}" method="post">
            {% csrf_token %}
            <!--{{form.as_p}}-->
            <div class="form-group mt-4">Código de barras: {{form.codigo_barras}}</div>
            <div class="form-group mt-4 ">Nome do Produto: {{form.nome_produto}}</div>
            <div class="form-group mt-4 ">Preço unitário: {{form.preco}}</div>
            <div class="form-group mt-4">Quantidade: {{form.quantidade}}</div>
            <input type="submit" class="btn btn-success mt-3" value="Salvar">
        </form>
    </div>

</body>

</html>